<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Copipe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CopipeAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CopipeWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>511B3C541DE5CC1200BA07D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513064111DE5CF4800C8020C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>513064221DE5CF6900C8020C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>519A6CDB1DDC7212004C00E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>519A6CEF1DDC7212004C00E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51C2458B1DDC8F400056FDA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
